<!DOCTYPE html>
<html>
  <head>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://whenissweatervestival.com" />
    <meta property="og:title" content="When is Sweater Vestival?" />
    <meta property="og:description" content="The next Sweater Vestival is {{current_sweatervestival_date_formatted}}" />
    <title>When is Sweater Vestival?</title>
    <link rel="stylesheet" media="all" href="/spectre.min.css" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129775748-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129775748-1');
    </script>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column col-12">
          <h1 style="text-align: center; margin-top: 25%;">{{current_sweatervestival_date_formatted}}</h1>
        </div>
      </div>
    </div>
  </body>
</html>
